.carousel,
.carousel .carousel_review_view,
.carousel .review_slide_track,
.carousel .slide_review,
.custom_container,
.form-field,
.navigation,
.validate_this-input {
  position: relative;
}
.carousel .wrap_dot_control_indicator,
.column-form_call-me-back-form-right p,
.navigation,
h1.areas_of_service,
h1.head-title_service,
h1.name_ab,
h2.form_call-me-back_form_header,
p.slogan_ab {
  text-align: center;
}
.navigation {
  padding: 0.45em 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #3d3246;
}
ul.nav.navbar-nav {
  margin: 1.3em 0;
}
.navbar-nav > li {
  margin: 0 2.6em;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.26em;
  font-weight: 400;
  padding: 6px 14px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.field_input-contactnumber_entry,
.field_input-text_entry,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
}
.footer-bt_left p,
.footer-bt_right p,
.input-field-label,
.navbar-default {
  margin-bottom: 0;
}
.navbar-default {
  min-height: inherit;
}
.form-field,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.navbar-default,
.navbar-default .navbar-collapse,
input.field_input-contactnumber_entry,
input.field_input-text_entry,
#toTop {
  border: none;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.navbar-default {
  background: 0 0;
}
.ab_review_callback_request,
.column_review-carousel_callbackrq-form,
.column_service-offered,
.index_banner,
.index_footer_main,
.intro_to_ab,
.navbar-collapse,
img.ab_logo_responsive,
.footer_right-bottom ul {
  padding: 0;
}
.ab_review_callback_request,
.banner-logo-name-slogan,
.carousel,
.carousel .carousel_review_view,
.carousel .review_slide_track,
.carousel .slide_review,
.carousel .wrap_dot_control_indicator,
.field_input-contactnumber_entry,
.field_input-text_entry,
.footer_row_main,
.form-field,
.index_banner,
.index_footer_main,
.input-field-label,
.intro_to_ab,
.intro_to_ab .col-12,
.requestcallback-btn_submit,
.service_provided_for,
.service_provided_for .col-12,
img.service_image_responsive {
  width: 100%;
}
.ab_review_callback_request,
.index_footer_main,
.intro_to_ab,
main {
  padding: 5em 0;
}
.footer_row_main .col-4 {
  height: auto;
  background-position: 0 0;
}
.btn_submitform_callback_container,
.business_service,
.column-form_call-me-back-form-right p,
.content-container_within,
.custom_container,
.field-contact,
.footer_main_container_custom,
.user-input_fieldfield-name {
  margin: 0 auto;
}
.business_service,
.content-container_within,
.custom_container {
  max-width: 1080px;
}
.service_provided_for {
  background-color: #f3f3f3;
  margin: 50px 0 20px;
  padding: 40px 0;
}
.content-container_within,
.custom_container,
.requestcallback-btn_submit {
  padding: 0 20px;
}
.business_service {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #e2e2e2;
}
.footer_main_container_custom {
  max-width: 100%;
  padding: 5px 20px;
}
.alert_of-invalid-input-entry:after,
.carousel,
.carousel .carousel_review_view,
.carousel .review_slide_track,
.carousel .slide_review,
.carousel .wrap_dot_control_indicator,
.field_input-contactnumber_entry,
.field_input-text_entry,
img.ab_logo_responsive,
img.service_image_responsive,
main,
#toTopHover {
  display: block;
}
footer,
h1.areas_of_service,
h1.head-title_service {
  font-weight: 400;
}
footer {
  font-size: 1em;
  padding: 10px 0;
}
.carousel .slide_review,
.footer-bt_left {
  float: left;
}
.footer-bt_right,
#toTopHover {
  float: right;
}
h1.name_ab,
p.slogan_ab {
  margin-bottom: 0.5em;
  color: #fff;
}
h1.name_ab {
  line-height: 50px;
  font-weight: 700;
}
h2.form_call-me-back_form_header {
  font-size: 21px;
}
.input-field-label,
h2.form_call-me-back_form_header {
  font-weight: 500;
}
h3.title_service,
h3.footer_header-quick-links,
h3.footer_header-contact {
  font-size: 18px;
  font-weight: 600;
}
.footer-bt_left p,
.footer-bt_right p {
  line-height: 1.6em;
}
.column-service_right p {
  line-height: 1.8em;
}
.column-service_right p,
.field_input-contactnumber_entry,
.field_input-text_entry,
.footer-bt_left p,
.footer-bt_right p,
.input-field-label,
.requestcallback-btn_submit,
.footer-center-middle ul li a {
  font-size: 14px;
}
.footer-bt_right p a {
  font-style: italic;
}
img.ab_logo_responsive,
img.service_image_responsive {
  margin: 0 auto;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
img.service_image_responsive {
  padding: 10px 0 20px;
}
img.ab_logo_responsive {
  width: 50%;
  min-width: 120px;
  max-width: 140px;
  margin-bottom: 10px;
}
.business_service .row,
.reviews_carousel_form_callback .row {
  margin-right: 0;
  margin-left: 0;
}
.carousel {
  height: 500.4px;
}
#reviews .carousel,
.column-form_call-me-back-form-right {
  height: 600.4px;
}
.carousel .carousel_review_view,
.carousel .review_slide_track,
.carousel .slide_review {
  height: 100%;
}
.carousel .carousel_review_view,
#toTop,
#toTopHover {
  overflow: hidden;
}
.carousel .slide_review {
  background: #ddd;
}
.carousel .slide_review:nth-child(2n) {
  background: #eee;
}
.carousel .review_slide_track {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.carousel .left_control,
.carousel .right_control,
.carousel .wrap_dot_control_indicator {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.carousel .left_control,
.carousel .right_control {
  display: none;
  top: 45%;
  left: 1.5em;
  font-size: 32px;
  color: #fff !important;
  text-shadow: 1px 1px #414141;
  cursor: pointer;
  -moz-opacity: 0.55;
  -khtml-opacity: 0.55;
  opacity: 0.55;
}
.carousel .right_control {
  left: auto;
  right: 1.5em;
}
.alert_of-invalid-input-entry:hover:before,
.carousel .left_control :hover,
.carousel .right_control :hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.carousel .left_control :hover,
.carousel .right_control :hover {
  color: #888;
}
.carousel .wrap_dot_control_indicator {
  bottom: 20px;
  left: 0;
  font-size: 0;
  line-height: 0;
}
.btn_submitform_callback_container,
.field-contact,
.user-input_fieldfield-name {
  width: 96%;
}
.carousel .dot_control_index_indicator {
  display: -moz-inline-stack;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.carousel .dot_control_index_indicator.current {
  background: #16a085;
}
.column-form_call-me-back-form-right {
  padding: 12% 3.51%;
}
.column-form_call-me-back-form-right p {
  font-size: 1.44em;
  padding-bottom: 20px;
  width: 90%;
}
.form-field {
  border-bottom: 1px solid #e6e6e6;
}
.requires-a-callback_form-for div:nth-child(3) {
  padding-top: 32px;
}
.alert_of-invalid-input-entry:before,
.requestcallback-btn_submit {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.field_input-contactnumber_entry,
.field_input-text_entry,
.navbar-default .navbar-nav > li > a,
.requestcallback-btn_submit {
  color: #000;
}
.input-field-label,
.navbar-default .navbar-nav > li > a,
.requestcallback-btn_submit {
  letter-spacing: 1px;
}
.input-field-label {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  text-transform: uppercase;
  min-height: 52px;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
}
.field_input-contactnumber_entry,
.field_input-text_entry {
  line-height: 1.2;
  padding: 5px 19px;
}
input.field_input-contactnumber_entry,
input.field_input-text_entry {
  height: 52px;
  outline: 0;
}
.btn_submitform_callback_container {
  padding-top: 66px;
}
.requestcallback-btn_submit {
  min-width: 200px;
  height: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.alert_of-invalid-input-entry:before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.alert_of-invalid-input-entry:before,
#toTopHover {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.alert_of-invalid-input-entry:after {
  content: '\f12a';
  font-family: FontAwesome;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}
.alert_of-invalid-input-entry:hover:before {
  visibility: visible;
}
#toTop,
#toTopHover {
  width: 32px;
  height: 32px;
}
#toTop {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 1%;
  z-index: 999;
  text-indent: 100%;
  background: url("../images/arr.png") no-repeat 0px 0px;
}
.fix {
  clear: both;
  line-height: 1px;
}
.footer-center-middle ul {
  padding-left: 0;
  list-style: none;
}
.footer-center-middle ul li {
  padding: 9px 0;
}
.footer_right-bottom ul li {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}